<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lpxz.cmsauth.mapper.UserMapper">

    <resultMap id="userMap" type="com.lpxz.cmsauth.model.User">
        <id property="userId" column="user_id"/>
        <result property="userAccount" column="user_account"/>
        <result property="userName" column="user_name"/>
        <result property="userPassword" column="user_password"/>
        <result property="userPhone" column="user_phone"/>
        <result property="userEmail" column="user_email"/>
        <result property="userStatus" column="user_status"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <!--通过ID查询单个用户-->
    <select id="findById" resultMap="userMap">
        SELECT *
        FROM user
        WHERE user_id = #{id}
    </select>

    <!--分页查询用户-->
    <select id="findByPage" resultMap="userMap">
        SELECT *
        FROM user
    </select>

    <!--新增用户-->
    <insert id="insert">
        INSERT INTO user(user_id, user_account, user_name, user_password, user_phone, user_email, user_status,
                         create_by, create_time, remark)
        VALUES (#{userId}, #{userAccount}, #{userName}, #{userPassword}, #{userPhone}, #{userEmail}, #{userStatus},
                #{createBy}, sysdate(), #{remark})
    </insert>

    <!--修改用户-->
    <update id="update">
        UPDATE user
        SET user_account=#{userAccount},
            user_name=#{userName},
            user_password=#{userPassword},
            user_phone=#{userPhone},
            user_email=#{userEmail},
            user_status=#{userStatus},
            create_by=#{createBy},
            create_time=#{createTime},
            update_by=#{updateBy},
            update_time=sysdate(),
            remark=#{remark}
        WHERE user_id = #{userId}
    </update>

    <!--通过ID删除单个用户-->
    <update id="deleteById">
        update user
        set user_status = 2
        where user_id = #{id}
    </update>

    <!--通过电话查询单个用户-->
    <select id="findByPhone" resultMap="userMap">
        SELECT *
        FROM user
        WHERE user_phone = #{userPhone}
          and user_status != 2
    </select>

    <!--通过邮箱查询单个用户-->
    <select id="findByEmail" resultMap="userMap">
        SELECT *
        FROM user
        WHERE user_email = #{userEmail}
          and user_status != 2
    </select>

    <select id="checkAccountUnique" parameterType="String" resultType="int">
        select count(1)
        from user
        where user_account = #{userAccount}
    </select>

    <select id="checkPhoneUnique" parameterType="String" resultMap="userMap">
        select user_id, user_phone
        from user
        where user_phone = #{userPhone}
    </select>

    <select id="checkEmailUnique" parameterType="String" resultMap="userMap">
        select user_id, user_email
        from user
        where user_email = #{userEmail}
    </select>

</mapper>